PORT=4000
MONGO_URI=mongodb+srv://ay6422853_db_user:Akash2004@wild-dating-site.i33gank.mongodb.net/?appName=Wild-dating-site
JWT_SECRET=change_this_to_a_long_random_secret
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@wild.local
ADMIN_PASSWORD=ChangeMe123!